@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Alternates&family=Nunito:wght@200;300;400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    transition: all .2s linear;
    outline: none;
    border: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header .Logo {
    position: relative;
    transition: 0.6s;
}

header .Logo img {
    width: 50px;
}

body {
    min-height: 200vh;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header ul li a:hover {
    border-bottom: 2px solid hsl(20, 94%, 48%);
    transition: .1s;
    color: #fff;
}

.banner-slider .slide  img {
    position: relative;
    width: 100%;

}

header.sticky{
    padding: 5px 100px;
    background: #f1f1f1;
}

header.sticky .nav-link {
    color: #000 !important;
}








/* LOGIN BUTTON */
.button {
    position: fixed;
    bottom: 40px;
    margin-left: 40%;
    display: none;
    z-index: 1000;
    background: rgba(216, 228, 247, 0.39);
    backdrop-filter: blur(20px);
    width: 22.6rem;
    padding: 1rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background: #fe9102;
    transition: all 0.3s ease-in 0s;
}

.button a {
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 5px;
    background: #fff;
    padding: 4px;
}

.button a:hover {
    color: #000;
    background: #ffffffa2;
}












/* SWIPER SLIDE PART */
.banner-slider .slide .content {
    position: absolute;
    margin-top: 15rem;
    margin-left: 10rem;
    z-index: 1000;
    width: 40%;
    padding: 3rem 2rem;
    background: hsl(56, 97%, 49%);
    color: #000;
    border-radius: 4px;
    border: 2px solid rgba(red, green, blue, alpha);
}

.banner-slider .slide .content h1 {
   font-size: 3em;
   font-family: 'Nunito', sans-serif;
}

.banner-slider .slide .content p {
    font-family: 'PT Sans Narrow', sans-serif;
}
 

.banner-slider .slide button {
    margin-top: 45rem;
    margin-left: 20rem;
    position: absolute;
    z-index: 1000;
 }

 .banner-slider .slide  .bout {
    margin-top: 30rem;
    margin-left: 45rem;
    position: absolute;
    z-index: 1000;
 }

 











/* OFFRES */
.nav-link.active,
.nav-link:hover {
    border-bottom: 2px solid hsl(20, 94%, 48%);
    color: #fff;
}

.nav-link {
    color: white !important;
}


.divider {
    background-color: red;
    width: 100px;
    height: 2px;
    margin: 0 auto;
}

.divider.black {
    background-color: red;
    margin-bottom: -2rem;
}


ul {
    list-style: none;
}

#offres .heading h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 5em;
    width: 50rem;
    font-family: 'Josefin Sans', sans-serif;
}

#offres .heading {
    text-align: center;
    padding: 4rem 10rem;
}

section .heading {
    padding: 65px 0 85px 0;
}


.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline::before {
    content: "";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #555;
    left: 50%;
    margin-left: -2.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li::before, .timeline > li:after {
    content: "";
    display: table;
}


.timeline > li:after {
    clear: both;
}

.timeline li .timeline-badge {
    color: red;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}

.timeline-panel-container {
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}

.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #000;
}

.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}

.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: "";
}

.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
    color: white;
}

.timeline-heading h4 {
    color: yellow;
}

.timeline-body p {
    color: #fff;
}











/* STEPS */
#steps-1 img {
    width: 15rem;
}

#steps-2 img {
    width: 15rem;
}

#steps-3 img {
    width: 15rem;
}

#Steps .wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper .sub-title h1 {
    font-size: 4em;
    font-weight: bold;
    width: 55rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-align: end;
    margin-top: 17rem;
}






/*view slider */
#view {
    padding: 65px 50px 85px 50px;
}

.view {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#view .big-word h1 {
    font-weight: bold;
    font-size: 4em;
    width: 35rem;
    font-family: 'Josefin Sans', sans-serif;
}


.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }

  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.view-slider {
    width: 240px;
    height: 320px;
}

.view-slider .slide {
    
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.view-slider .slide img {
    width: 4rem;
    position: relative;
    margin-top: 1rem;
    margin-left: 50%;
}

.view-slider .slide .text h5 {
    position: relative;
    padding: 5px;
    width: 10rem;
    margin-top: 2rem;
}










/*visa card part */
#visa .image img {
    width: 57rem;
}

#visa .image {
    padding: 3rem 8rem;
    cursor: pointer;
}

#visa .image h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

#visa .image .ombre {
    position: absolute;
    background-color: hsl(216, 82%, 30%);
    width: 57rem;
    height: 85%;
    display: none;
    margin-top: -36.9rem;
}

#visa  .image:hover .ombre {
    display: block;
    background-color: hsl(215, 61%, 6%);
    opacity: 0.5;
}

#visa  .image:hover .content {
    display: block;
    z-index: 222;
    transition: 0.5s;
}

#visa .content {
    position: absolute;
    margin-top: -66rem;
    padding: 2rem;
    width: 25%;
    background: rgba(3, 0, 4, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    transform: translateY(-10px);
    transition: 0.5s;
}

#visa .content .heading {
    margin-top: -5rem;
}

#visa .content .heading h2 {
    text-transform: uppercase;
}

#visa .content .info {
    margin-top: -4rem;
}

#visa .content .info p {
    text-align: justify;
}

#visa .content .info a {
    list-style: none;
    text-decoration: none;
}














/* ACTUALITES */
#actualites {
    background-color: #fdca00;
    padding: 65px 0 85px 0;
    margin-top: 7rem;
}


#actualites .heading {
    text-align: center;
    
}

#actualites .heading h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 5em;
    width: 50rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: end;
}

#actualites img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#actualites img:hover {
    filter: none;
    -webkit-filter: none;
}

#actualites .col-md-4 {
    margin-bottom: 20px;
}


#actualites .col-md-4 .button-2 {
    position: absolute;
    margin-top: -5rem;
    margin-left: 6rem;
    background-color: rgba(239, 243, 244, 0.959);
    font-size: 15px;
    padding: 20px;
    display: none;
    text-align: center;
    border-radius: 3px;
}

#actualites .col-md-4 .button-2 a {
    text-decoration: none;
    font-size: 16px;
}


#actualites .col-md-4 .button-2:hover {
    background-color: rgba(250, 148, 6, 0.959);
    cursor: pointer;
}



#actualites .col-md-4:hover .button-2 {
    display: block;
}

#money-form {
    background: #fff;
    width: 27rem;
    height: 30rem;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2rem 3rem rgb(30, 243, 6);
}

.box .text p {
    font-size: 18px;
    width: 18rem;
}

.box .text h1 {
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    color: black;
}

.box  {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.box .text {
     flex: 1 1 20rem;
}

.box #mone-form {
    flex: 1 1 20rem;
}

#money-form .inputs input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 0.5px solid #555;
}

#money-form .inputs .comments span {
    margin-left: 3rem;
    font-size: 12px;
    color: #555;
}

#money-form .inputs .comments {
    margin-top: 1rem;
}

#money-form .inputs .button1 {
    margin-top: 1.5rem;
    border: 1px solid #ddd;
    background: #08eb48;
    color: aliceblue;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}












/* AVIS 
#avis {
    padding: 65px 0 85px 0;
}
#avis .heading h2 {
    color: #d82c2e;
}

#myCarousel .carousel-item {
    padding: 30px 30px 90px;
}

#myCarousel .carousel-item h3 {
    color: #d82c2e;
    font-style: italic;
}*/


/* ARGUMENT 
.argument h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.list-services {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.list-services .box {
    padding: 30px;
    background-color: #f3f3fa;
    border-radius: 6px;
    transition: 0.5s;
}

.list-services .box h1 {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}

.list-services .box:hover {
    background-color: #f7cb06;
}

.list-services .box:hover h1 {
    color: #fff;
}












/* FRONTIERES */
#zonnne {
    background-color: #f8f2dcfb;
    padding: 65px 0 85px 60px;
}

#zonnne .text h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-family: 'Josefin Sans', sans-serif;
}

#zonnne .bann p {
    margin-left: 8rem;
    padding-top: 3rem;
    font-size: 3.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

#zonnne .boxes {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    flex-wrap: wrap;
}

#zonnne .boxes .image {
    flex: 1 1 20rem;
}

#zonnne .box .content {
   flex: 1 1 20rem;
}

#zonnne .boxes .content h1 {
    font-family: 'Josefin Sans', sans-serif;
}


#zonnne .boxes .content p {
    width: 30rem;
    padding-top: 1.5rem;
}


#zonnne .list-country {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    gap: 2rem;
    padding-top: 3rem;
}


#zonnne .list-country .image img {
    width: 5rem;
}

#zonnne .list-country .image h3 {
    font-size: 15px;
}

#zonnne .footer {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}

#zonnne .footer-col {
    width: 25%;
    
}

#zonnne .footer-col  h4 {
    font-size: 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

#zonnne .footer .credit {
    border-top: .1rem solid rgba(0, 0, 0,.1);
    font-size: 1rem;
    color: var(--black);
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    margin: 0 auto;
    font-family: 'Montserrat Alternates', sans-serif;
}







